*{
    margin: 0;
    font-family: sans-serif;
}
$fsize:20px;
$col13:#131313;
$colF:#FFFFFF;
$colg:#8C8C8C;
.navbar{
    position:fixed;
    top: 0px;
    max-width: 100%;
    min-width: 100%;
    height: 60px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:gray;
    div{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    input{
        width: 200px;
        height: 30px;
        outline: none;
        font-size: 18px;
    }
}
.bacground{
    max-width: 100%;
    max-height: 700px;
    background: linear-gradient(311.76deg, #D4E7FE -15.24%, #FFFFFF 78.85%);
    nav{
        min-width: 1200px;
        height: 600px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .div{
            button{
                width: 170px;
                height: 50px;
                border-radius: 7px;
                background-color: #217BF4;
                color: white;
                font-size: 15px;
                font-weight: bolder;
                border: none;
                box-shadow: 0px 0.5px 10px $col13;
                &:hover{
                    background-color:  $col13;
                    
                }
                &:active{
                    background-color: #f1f1f1;
                    color: $col13;
                }
            }
            max-width: 35%;
            height: 400px;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-around;
            h1{
                font-size: 50px;
            }
            p{
                color: gray;
            }
            .button{
                display: flex;
                align-items: center;
                gap: 10px;
                button{
                    width: 170px;
                    height: 50px;
                    border-radius: 7px;
                }
            }
        }
        img{
           max-width: 40%;
        }
    }

}
.bacground1{
    nav{
        max-width: 1200px;
        height: 600px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .net{
            a{
                color: #217BF4;
                border: none;
            }
            width: 500px;
            height: 300px;
            font-size: $fsize;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-around;
            .svg{
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }
        .imgs{
            
            position: relative;
            left: 100px;
            
        }
    }
}
.bacground2{
    max-width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    nav{
        min-width: 1150px;
        height: 450px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .div1{
            max-width: 250px;
            height: 350px;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-around;
            box-shadow: 0px 10px 10px rgba(155, 248, 233, 0.281);
            padding: 0px 20px;
            border-radius: 10px;
            p{
                color: #8C8C8C;
            }
            .rayting{
                display: flex;
                align-items: center;
                gap: 10px;

            }
            .member{
                display: flex;
                align-items: center;
                gap: 10px;
                p{
                    color:$col13;
                }
            }
            .join{
                display: flex;
                align-items: center;
                gap: 10px;  
            }
            a{
                color: #217BF4;
            }
        }
        .div2{
            max-width: 250px;
            height: 350px;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-around;
            border: solid 1px $colg;
            padding: 0px 20px;
            border-radius: 10px;
            p{
                color: #8C8C8C;
            }
            .awww{
                display: flex;
                align-items: center;
                gap: 10px;
            }
            .best{
                display: flex;
                align-items: center;
                gap: 10px;
                p{
                    color:$col13;
                }
            }
            .goto{
                display: flex;
                align-items: center;
                gap: 10px;
                a{
                    color: $col13;
                }
            }
        }
        .div3{
            max-width: 350px;
            height: 350px;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-around;
            p{
                color: #8C8C8C;
            }
            button{
                width: 180px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                border-radius: 7px;
                border: none;
                background-color: #217BF4;
                box-shadow: 0px 10px 10px rgba(155, 248, 233, 0.281);
                p{
                color: #FFFFFF;
                font-size: 15px;
                }
                &:hover{
                    background: $col13;
                }
                &:active{
                    background: #f1f1f1;
                    p{
                        color: $col13;
                    }
                }
            }
        }
    }
}
.bacground3{
    max-width: 100%;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(241, 246, 253, 0) 1.63%, #F1F6FD 20.5%, #F1F6FD 58.57%, #FFFFFF 100%);
    nav{
        min-width: 1200px;
        height: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        a{
            color: #217BF4;
        }
        .count{
            display: grid;
            grid-template-columns: repeat(2,450px);
            grid-template-rows: repeat(3,150px);
            gap: 50px;
        }
        .item1{
            display: flex;  
            align-items: center;
            justify-content: space-around;
            text-align: start;
            background-color: $colF;
            border-radius: 10px;
            padding: 30px;
            .mem{
                display: flex;
                flex-direction: column;
                align-items: start;
                flex-wrap: wrap;
                justify-content: center;
                row-gap: 10px;
                p{
                    color: $colg;
                }
            }
        }
    }
}
.bacground4{
    max-width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    nav{
        a{
            color: #217BF4;
        }
        min-width: 1200px;
        height: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        .newakt{
            width: 400px;
            height: 70px;
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #E5F0FD;
            .new{
                width: 130px;
                height: 60px;
                border-radius: 15px 0px 0px 15px;
                border: none;
                background-color: transparent;
                font-size: 16px;
                font-weight: bold;
                &:hover{
                    background: #217BF4;
                    box-shadow: 0px 7px 22px -6px #0048A857;
                    color: $colF;
                }
                &:active{
                    background: floralwhite;
                    color: $col13;
                }
            }
            .pular{
                width: 130px;
                height: 60px;
                border-radius: 0pxpx 0px 0px 0px;
                border: none;
                background-color: transparent;
                font-size: 16px;
                font-weight: bold;
                &:hover{
                    background: #217BF4;
                    box-shadow: 0px 7px 22px -6px #0048A857;
                    color: $colF;
                }
                &:active{
                    background: floralwhite;
                    color: $col13;
                }
            }
            .akt{
                width: 130px;
                height: 60px;
                border-radius: 0px 15px 15px 0px;
                border: none;
                background-color: transparent;
                font-size: 16px;
                font-weight: bold;
                &:hover{
                    background: #217BF4;
                    box-shadow: 0px 7px 22px -6px #0048A857;
                    color: $colF;
                }
                &:active{
                    background: floralwhite;
                    color: $col13;
                }
            }
        }
        .count1{
            display: grid;
            grid-template-columns: repeat(4,200px);
            grid-template-rows: repeat(1,250px);
            gap: 50px;
        }
        .item2{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            border-radius: 10px;
            box-shadow: 0px 10px 10px #F1F6FD;
        }
    }
}
.bacground5{
    max-width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5F0FD;
    nav{
        min-width: 1200px;
        height: 500px;
        display: flex;
        align-items: end;
        justify-content: space-around;
        .getour{
            a{
                color: #217BF4;
                font-weight: bold;
            }
            width: 350px;
            height: 400px;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            row-gap: 20px;
            p{
                color: $colg;
            }
            .divapp{
                display: flex;
                align-items: center;
                justify-content: start;
                margin-left: -18px;
                gap:10px;
                .appstore{
                    width: 150px;
                    height: 95px;
                }
                .playstore{
                    width: 130px;
                    height: 50px;
                    background-image: url(./image\ 289.png);
                    background-size: cover;
                    border: none;
                    border-radius: 7px;
                }
            }
        }
        img{
            width: 600px;
            height: 470px;
        }
    }
}
.bacground6{
    max-width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    nav{
        a{
            color: #217BF4;
            font-weight: bold;
        }
        h1{
            font-size: 50px;
        }
        min-width: 1200px;
        height: 650px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        .cout{
            display: grid;
            grid-template-columns: repeat(3,300px);
            grid-template-rows: repeat(1,400px);
            gap: 20px;
            .item3{
                display: flex;
                flex-direction: column;
                align-items: start;
                justify-content: space-between;
                img{
                    width: 300px;
                }
                .it{
                    display: flex;
                    align-items: start;
                    justify-content: center;
                    gap: 20px;
                    .we{
                        width: 200px;
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        gap: 10px;
                        a{
                            color: $col13;
                        }
                    }
                }
            }
        }
    }
}